[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.2"
django-environ = "~=0.12"
django-ninja = "~=1.4"
ecs-logging = "~=2.2"
gevent = "~=25.4"
gunicorn = "~=23.0"
logging-utilities = "~=5.1"
psycopg = {extras = ["binary"], version = "~=3.2"}
pyyaml = "~=6.0"
whitenoise = "~=6.11"

[dev-packages]
bandit = "*"
debugpy = "*"
django_debug_toolbar= "*"
django-extensions = "*"
django-stubs = "~=5.2"
isort = "*"
mypy = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-xdist = "*"
types-gevent = "~=25.4"
types-gunicorn = "~=23.0"
yapf = "*"

[requires]
python_version = "3.13"
